minecraft-automation/.idea
minecraft-automation/.venv
*.tif
*.tif.aux.xml
*.jar
/server/*
!/server/*.sh
/world-backups/*
!/world-backups/*.sh

# Exclude any files with 'test' in the name
*test*
*Test*
*TEST*
